@using MartinaPAS_MVC.Models

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MartinaPAS</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
    <style>
        body {
            background-color: #000; /* Color de fondo oscuro para todo el cuerpo */
            color: #fff; /* Color de texto para todo el cuerpo */
        }
    </style>

</head>
<body>

    @if (Session["Usuario"] != null)
    {
        var usuario = (Usuarios)Session["Usuario"]; // Asegúrate de cambiar el tipo de clase según tu implementación
        var nombreUsuario = "Bienvenido/a " + usuario.Nombre + " " + usuario.Apellido;

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Acerca de", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Contacto", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                        <li class="nav-item">@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Login", new { area = "" }, new { @class = "nav-link" })</li>

                        <li class="nav-item">
                            <span class="nav-link text-success">
                                <!-- Este elemento es solo para mostrar el nombre de usuario y el icono de "en línea" -->
                                <i class="fas fa-user-circle"></i> <!-- Asegúrate de tener FontAwesome u otro conjunto de íconos -->
                                @nombreUsuario <!-- Aquí se mostrará el nombre de usuario -->
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }




    <div class="container-fluid body-content mt-5">
        <!-- Cambiamos 'container' por 'container-fluid' para que el contenido ocupe todo el ancho -->
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MartinaPAS</p>
        </footer>
    </div>


    <!-- jQuery (debe incluirse antes de Bootstrap JS) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap 4 JS (incluyendo popper.js para componentes que requieren popper) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
